
{% extends "base.html" %}

{% block content %}

<center>
    <div class="form-div">
    <h1>Sign up for the Event !</h1>
{% if submitted %}
<p>Thank you for singing up ! <br/><span> See you soon</span></p>

{% else %}
<form action="" method= "POST">
    {% csrf_token %}

    {{form.as_p}}
  <button class="button-submit" type="submit" value="Submit">SUBMIT</button>
</form>
</div>
<div class="users-number">
  {%if users_count %}
  <p>Number of users already sing in:  {{users_count}}</p>
  {%endif%}
</div>
{% endif %}
</center>


 
 






{% endblock  %}